.btn-save {
    color: #1E293B;
    cursor: pointer;
}
.btn-delete {
    color: #1E293B;
    cursor: pointer;
}
.btn-edit {
    color: #1E293B;
    cursor: pointer;
}
.btn-cancel {
    color: #1E293B;
    cursor: pointer;
}
.form-content {
    margin-top: 30px;
}
.icon {
    cursor: pointer;
}