.btn-save {
    color: #1E293B;
    cursor: pointer;
}
.btn-delete {
    color: #1E293B;
    cursor: pointer;
}
.btn-edit {
    color: #1E293B;
    cursor: pointer;
}
.btn-cancel {
    color: #1E293B;
    cursor: pointer;
}
.form-content {
    margin-top: 30px;
}
.icon {
    cursor: pointer;
}

.date-picker-toggle {
    z-index: 0;
    margin-top: 3px;
}

.icon {
    margin-top: 10px !important;
    cursor: pointer;
}

input[type="time" i]::-webkit-calendar-picker-indicator {
    opacity: 1;
    display: block;
    width: 20px;
    height: 20px;
    border-width: thin;
    cursor: pointer;
}

.mat-input-element[type=date], .mat-input-element[type=datetime], .mat-input-element[type=datetime-local], .mat-input-element[type=month], .mat-input-element[type=week], .mat-input-element[type=time] {
    height: 17px;
}