  :host {
    .mat-icon {
      vertical-align: middle;
      margin-right: 1rem;
    }
  }

  .sidenav {
    width: 200px;
    background-color: #1E293B;
    overflow: hidden !important;
  }
  
  .profile {
    align-items: center;
    justify-content: center;
    display: grid;
    text-align: center;
  }

  .avatar {
    margin-top: 16px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  .designation {
    margin-top: 2px;
    font-size: 0.7rem;
    color: lightgrey;
  }

  mat-divider {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .logo {
    text-align: center;
    padding: 0.6rem 1rem;
    padding-bottom: 10px;
    margin-top: -8px;
    box-shadow: 10px 10px 10px 10px #03122a;

    img {
      width: 200px;
    }
  }

  .mat-divider {
    border-top-width: 1px;
    border-color: white;
  }

  .mat-list-item {
    color: #94a3b8 !important;
    font-size: 0.8rem;
    height: 44px !important;
    margin-bottom: 4px;

    &:hover {
      color: #f2f5f7 !important;
    }

    ::ng-deep {
      .mat-list-item-content {
        border-radius: 5px;
        margin: 0 8px;

        &:hover {
          background: #2970E4 !important;
        }
      }
    }
  }

  .list-item-active {
    color: #f2f5f7 !important;

    ::ng-deep {
      .mat-list-item-content {
        background: #2970E4 !important;

        &:hover {
          background: #2970E4 !important;
        }
      }
    }
  }

  .text-menu {
    margin-left: 10px;
  }

  .mat-subheader {
    color: #818cf8;
    font-size: 0.6rem;
    font-weight: 100;
    letter-spacing: 1px;
  }