<h1 mat-dialog-title>Cadastrar</h1>
<div mat-dialog-content>
  <div>
    <div role="group">
      <button
        aria-label="Cadastrar"
        aria-pressed="true"
      >
        Cadastrar
      </button>
      <button aria-label="Entrar" aria-pressed="false">
        Entrar
      </button>
    </div>
    <div fxLayout="column">
      <button type="button">
        <span>Continuar com a Apple</span>
      </button>
      <button type="button">
        <span>Continuar com o Google</span>
      </button>
      <button type="button">
        <span>Continuar com o Facebook</span>
      </button>
      <button type="button">
        <span>Continuar com o email</span>
      </button>
    </div>
  </div>
</div>
