<div class="main background" fxFlex fxLayout="row" fxLayoutAlign="end center">
    <div class="img py-4">
        <img src="./assets/img/logo.png" style="width: 100%" alt="Company Logo" />
    </div>
    <mat-card fxFlex class="card-main" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center">
        <div class="cad-content">
            <div fxLayout="column" fxLayoutAlign="start start" style="margin-bottom: 20px;">
                <h2>Esqueceu sua senha?</h2>
                <p style="color: #9BB58B;"><span style="color: gray;">Preencha o formulário para redefinir sua senha</span></p>
            </div>

            <div class="form-login">
                <form [formGroup]="form" fxFlex fxLayout="column">

                    <div class="example-container">
                        <mat-form-field  appearance="outline" style="width: 100%;">
                            <mat-label>E-mail</mat-label>
                            <input matInput placeholder="pat@example.com" [formControlName]="'email'" required>

                        </mat-form-field>

                        <mat-error>
                            <app-errors [formcontrolname]="'email'" [formGroup]="form"></app-errors>
                        </mat-error>
                    </div>

                    <button mat-raised-button [disabled]="form.invalid" class="btn" (click)="navigate()">
                        Entrar
                    </button>

                    <div class="voltar" fxLayoutAlign="center">
                        <button style="font-size: 12px; color: #7F738A;"  mat-icon-button class="btn-cancel" fxLayout="row" fxLayoutGap="10" (click)="cancel()">
                          <mat-icon style="color: #9BB58B;">arrow_back</mat-icon>  Retornar para <span style="color: #9BB58B;">Login</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </mat-card>
</div>