<div class="main background" fxFlex fxLayout="row" fxLayoutAlign="end center">
    <div class="img py-4">
        <img src="./assets/img/logo.png" style="width: 100%" alt="Company Logo" />
    </div>
    <mat-card fxFlex class="card-main" fxLayout="row" fxLayoutAlign="center">
        <div fxFlex="80" class="cad-content">
            <form fxFlex="100" [formGroup]="form" fxLayout="column">
                <h1>Cadastrar conta</h1>
                <div style="margin-top: 50px;">
                    <div fxLayout="column" fxLayoutGap="15">
                        <mat-form-field fxFlex appearance="outline">
                            <mat-label>Nome</mat-label>
                            <input matInput placeholder="Digite aqui" type="text" formControlName="nome" [disabled]="true"
                                name="nome">
                        </mat-form-field>
        
                        <mat-error>
                            <app-errors [formcontrolname]="'nome'" [formGroup]="form"></app-errors>
                        </mat-error>

                        <mat-form-field fxFlex appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="Digite aqui" type="text" formControlName="email" [disabled]="true"
                                name="email">
                        </mat-form-field>
        
                        <mat-error>
                            <app-errors [formcontrolname]="'email'" [formGroup]="form"></app-errors>
                        </mat-error>
                        
                        <mat-form-field appearance="outline">
                            <mat-label>Senha</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" formControlName="senha" placeholder="senha">
                            <mat-icon type="button" mat-icon-button matSuffix class="icon" (click)="hide = !hide">{{hide ? 'visibility_off' :
                                'visibility'}}</mat-icon>
                        </mat-form-field>
        
                        <mat-error>
                            <app-errors [formcontrolname]="'senha'" [formGroup]="form"></app-errors>
                        </mat-error>

                        <mat-form-field fxFlex appearance="outline">
                            <mat-label>Telefone</mat-label>
                            <input matInput placeholder="Digite aqui" type="text" [mask]="'0000-0000'" formControlName="telefone" name="telefone">
                        </mat-form-field>
        
                        <mat-error>
                            <app-errors [formcontrolname]="'telefone'" [formGroup]="form"></app-errors>
                        </mat-error>
        
                        <mat-form-field fxFlex appearance="outline">
                            <mat-label>Data Nascimento</mat-label>
                            <input matInput formControlName="dt_nasc" name="data nascimento" [matDatepicker]="picker">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
        
                        <mat-error>
                            <app-errors [formcontrolname]="'dt_nasc'" [formGroup]="form"></app-errors>
                        </mat-error>
                    </div>
                </div>
                <div style="max-width: 50%;" fxLayout="row" fxLayoutGap="10px">
                    <button mat-icon-button class="btn-save" fxLayout="row" fxLayoutGap="10" [disabled]="form.invalid" (click)="onSave()">
                        Cadastrar
                    </button>
                    
                    <button mat-icon-button class="btn-cancel" fxLayout="row" fxLayoutGap="10" (click)="cancel()">
                        Voltar
                    </button>
                </div>
            </form>
        </div>
    </mat-card>
</div>
