<app-header [title]="'Agendamentos'" [showOperation]="false">
</app-header>
<div class="page__content shadow p-3 position-relative">
  <div class="page__content shadow p-3 position-relative">
      <div fxLayout="row" fxLayoutAlign="end end">
        <button (click)="openDialog()" style="margin: 10px 0px 10px 0px;" class="add" mat-raised-button>
          <mat-icon>add_circle_outline</mat-icon>
          <span class="text_add">
            Criar agendamento
          </span>
        </button>
      </div>

    <full-calendar *ngIf='calendarVisible'
     [options]='calendarOptions'></full-calendar>
  </div>
</div>