<app-header [title]="title" [showOperation]="false">
</app-header>

<div class="page__content shadow p-3 position-relative">
    <div class="page__content shadow p-3 position-relative">
        <form fxFlex="100" [formGroup]="form" fxLayout="column">
            <div style="margin: 10px;" fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="10">
                <button mat-icon-button (click)="saveServico()" [disabled]="form.invalid" class="btn-save" *ngIf="operation === 'new' || operation === 'edit'">
                    <mat-icon>save</mat-icon>
                </button>
                <button mat-icon-button (click)="onEdit()" [disabled]="form.invalid" class="btn-save" *ngIf="showEdit && operation === 'view' ">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button (click)="deletaServico()" class="btn-delete" *ngIf="operation === 'edit' || operation === 'view'">
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button (click)="cancel()" class="btn-cancel">
                    <mat-icon>cancel</mat-icon>
                </button>

            </div>

            <div style="margin-top: 50px;">
                <div fxLayout="row wrap" fxLayoutGap="15">
                    <mat-form-field fxFlex appearance="outline">
                        <mat-label>Descrição</mat-label>
                        <input matInput placeholder="Digite aqui" type="text" formControlName="descricao" [disabled]="true"
                            name="descricao">
                    </mat-form-field>

                    <mat-form-field fxFlex="30" appearance="outline">
                        <mat-label>Valor do Serviço</mat-label>
                        <input matInput placeholder="Digite aqui" prefix="R$ " mask="separator.2" thousandSeparator="." type="text" formControlName="valor" name="valor">
                    </mat-form-field>
    
                    <mat-error>
                        <app-errors [formcontrolname]="'valor'" [formGroup]="form"></app-errors>
                    </mat-error>
    
                </div>
            </div>
        </form>
    </div>
</div>